.Cockpit button {
  border: 2px ridge black;
  padding: 16px;
  background-color: forestgreen;
  font: inherit;
}

.Cockpit button:hover {
  background-color: mediumspringgreen;
  cursor: pointer;
}

.Cockpit button.Red {
  background-color: darkred;
  color: white;
}

.Cockpit button.Red:hover {
  background-color: indianred;
  cursor: pointer;
}

.red {
  color: darkred;
}

.bold {
  font-weight: bold;
}